html
	header
	body
		script(src="lib/pixi.js")
		script(src="Vector.js")
		script(src="config.js")
		script(src="data/wordparts.js")
		script(src="entities/wordpart.js")
		script(src="Word.js")
		script(src="WordpartSet.js")
		script(src="main.js")