html
	head
		meta(charset="UTF-8")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		link(rel="stylesheet" type="text/css" href="./main.css")
	body
		script(src="lib/pixi.js")
		script(data-main="main" src="lib/require.js")
