html
	head
		meta(charset="UTF-8")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		link(rel="stylesheet" type="text/css" href="./main.css")
	body
		script(src="lib/pixi.js")

		//- helpers and others
		script(src="Vector.js")
		script(src="helpers.js")
		script(src="config.js")
		script(src="data/enemies.js")
		script(src="data/words.js" charset="UTF-8")
		script(src="data/radicals.js" charset="UTF-8")
		script(src="data/levels.js")
		script(src="GConsole.js")
		script(src="entities/enemy.js")
		script(src="entities/wordpart.js")
		script(src="Word.js")
		script(src="WordpartSet.js")
		script(src="LevelManager.js")
		script(src="main.js")